#aside{

        }
.vertical menu{

}
footer{
                clear:center;
                list-style-type:none;
                text-align:center;
                }
.text{
  font-weight:bold;
}
